
.app-style {
  padding: 10px;
  display: flex;
}

.component-style {
  
  margin-bottom: 20px;
  padding: 70px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 12px;
  margin: 0 auto;
}

.component-style button {
  margin-top: 15px; /* 버튼과의 간격 늘리기 */
}

.container {
  max-width: 1200px;
  max-height: 800px;
  margin-inline: auto;
}
